.cinebody{
  
   height: 100%;
  
}
h2{
  flood-color: white;
}
.swiperraiz{
	position: relative;
	justify-content: center;
	text-align: center;
	

 
}
.mySwiper{
  padding: 10px;
  padding-bottom: 25px;

}
.BackdropSlides {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.movie-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
}
.slide{
  position: absolute;
  
  display: flex;
  flex-direction: column;
        justify-content: center;
        align-items: center;
        

  top:60%;
  right:  -10px;
  width: 70%;
  height: 100px;
  transform: translateX(-30%);
  color: white;
  font:  small-caps bold 12px/30px Georgia, serif;
  }
