.content{
	height: 100% ;
	width: 100%;
	position: relative; ;
}
.Toolbar{
	position: absolute;
}
.back{
	color: white;
}

.generos{
	height: auto;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
align-content: center;
justify-content: center;
}
.imgcontec{
	width: 100%;
	height:55%;
	margin: 0;
}
.detalles{
	 background-size: cover;
   height: 100%;
   width: 100% ;
   text-align: center;
}
.List{
	height: 60%;
	margin: 0;
}