.content{
	height: 65% ;
	width: 100%;
	position: relative ;
}

.back{

	color: white;
}
h1{
	color: white;
}
 h3{
	color: white;
}
.generos{
	height: auto;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
align-content: center;
justify-content: center;
}
.imgcontec{

	width: 100%;
	height:100%;
	filter: blur(0.5px);
	position: absolute;

}
.description{
	
display: block;
    display: -webkit-box;
    height: 15px * 1.3 * 6;
    font-size: 15px;
    line-height: 1.3;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
           
          color:white;
          
     
}
.detalles{
	 background-size: cover;
   height: 100%;
   width: 100% ;
  filter: blur(0.5px);
   text-align: center;
   position: relative;
   z-index: 1;
}
.datos-movie{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 7px;
	justify-content: center;
	align-items: center;
}

.contaier-butto{
	justify-content: center;
	align-items: center;
	display:  flex;
	width: 100%;
	 position:absolute;
    bottom:25px;
    
}
.contaier-button{ 
	width: 70%;
	justify-content: center;
}
.opaco{
	 height: 100%;
   width: 100% ;
	 background-color: rgb(0, 0, 0);
       opacity: .3;
   position: absolute;
    z-index: 3;
}
.informacion{
	position: absolute;
	color: white;
 	bottom:5px; 
	z-index: 2;
}
.List{
	padding-top: 5px;
	height: 35%;
	margin: 0;
	background-color: "#f2f2f2";
}