.slide-image{
  filter: blur(2px);

}

.grad{
  display: flex;
  height: 70px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 50px;


 
}

.show_bg_2 {
   
    
    height: 25%;
    background-size: cover;
    position: absolute;
    bottom: 50;
    z-index: -10;
}
